<%= form_with(model: line, local: true) do |form| %>
  <% if line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(line.errors.count, "error") %> prohibited this line from being saved:</h2>

      <ul>
      <% line.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fragment_id %>
    <%= form.text_field :fragment_id %>
  </div>

  <div class="field">
    <%= form.label :who %>
    <%= form.text_field :who %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :who_translated %>
    <%= form.text_field :who_translated %>
  </div>

  <div class="field">
    <%= form.label :content_translated %>
    <%= form.text_field :content_translated %>
  </div>

  <div class="field">
    <%= form.label :updated_by %>
    <%= form.number_field :updated_by %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
