<%= form_with(model: scenario, local: true) do |form| %>
  <% if scenario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

      <ul>
      <% scenario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :filename %>
    <%= form.text_field :filename %>
  </div>

  <div class="field">
    <%= form.label :lines %>
    <%= form.number_field :lines %>
  </div>

  <div class="field">
    <%= form.label :translated %>
    <%= form.number_field :translated %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
