<p id="notice"><%= notice %></p>

<p>
  <strong>Fragment:</strong>
  <%= @location.fragment %>
</p>

<p>
  <strong>Content:</strong>
  <%= @location.content %>
</p>

<p>
  <strong>Content translated:</strong>
  <%= @location.content_translated %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @location.updated_by %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
